<html>

<body>

    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="https://cdn.uso.com.br/sites/logos/13326.png" width="100" />
            </div>
            <div class="titulo">
                LC ESCRITORIO IMOBILIARIO

                <div class="endereco">
                    QUADRA 06 AR 02 LOJA 13 - EDIFÍCIO LE PREMIER - SOBRADINHO - DF
                    <div class="fz12" style="margin-top: 5px;"> www.lcimoveis.com.br / lcimoveis@lcimoveis.com.br</div>
                </div>
            </div>
            <div class="creci">
                CRECI: 14.167
            </div>
        </div>
    </div>

</body>

</html>
