<!DOCTYPE html>

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <strong>Recuperação de senha. </strong>
    <p>Clique no link para criar uma nova senha: <a href="{{ account.link }}">{{ account.link }}</a></p>
    <br>
</body>

</html>
