<!DOCTYPE html>

<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <strong>Imob - {{ account.email }}</strong>
    <p>Clique no link para ativar sua conta: {{ account.link }}</p>
    <br>
</body>

</html>
